* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-image: url(./xmas-bg.png);
  background-size: cover;
}

.controls {
  background-color: lightcoral;
  border-radius: 10px;
  margin-bottom: 10px;
}

label {
  padding: 0.5em;
  border-radius: 5px;
  color: blue;
}

input {
  color: red;
  background-color: lightgreen;
}

.controls button {
  padding: 0.5em 1em;
  margin: 1em;
  color: red;
  background-color: lightgreen;
  border-radius: 10px;
}

#grid-size-input {
  padding: 0.5em;
  text-align: center;
}

#container {
  height: 600px;
  width: 600px;
  border: 15px solid green;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.row {
  display: flex;
  flex: 1;
}

.column {
  border: 1px solid rgb(1, 0, 0);
  flex: 1;
}

#container div {
  border: 1px dotted blue;
  background-color: red;
}

/* Snowfall animation */

#snow-container {  
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: opacity 500ms;
  width: 100%;
  z-index: 1;
}

.snow {
  animation: fall ease-in infinite, sway ease-in-out infinite;
  color: skyblue;
  position: absolute;
}

/* animation frames */
@keyframes fall {
  0% {
    opacity: 0;    
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 100vh;
    opacity: 1;
  }
}

@keyframes sway {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 50px;
  }
  50% {
    margin-left: -50px;
  }
  75% {
    margin-left: 50px;
  }
  100% {
    margin-left: 0;
  }
}