* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-image: url(./xmas-bg.png);
  background-size: cover;
}

.controls {
  background-color: lightcoral;
  border-radius: 10px;
  margin-bottom: 10px;
}

label {
  padding: 0.5em;
  border-radius: 5px;
  color: blue;
}

input {
  color: red;
  background-color: lightgreen;
}

.controls button {
  padding: 0.5em 1em;
  margin: 1em;
  color: red;
  background-color: lightgreen;
  border-radius: 10px;
}

#grid-size-input {
  padding: 0.5em;
  text-align: center;
}

#container {
  height: 600px;
  width: 600px;
  border: 15px solid green;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1;
}

.column {
  border: 1px solid rgb(1, 0, 0);
  flex: 1;
}

#container div {
  border: 1px dotted blue;
  background-color: red;
}